@import "src/assets/sass/variables"

#newsletter
  .section
    border-top: 2px solid #E4E7ED
    border-bottom: 3px solid $primary-color
    margin-top: 30px

.section
  padding-top: 30px
  padding-bottom: 30px

.newsletter
  text-align: center

  p
    font-size: 24px

  form
    position: relative
    max-width: 520px
    margin: 30px auto

    &:after
      content: "\f003"
      font-family: FontAwesome
      position: absolute
      font-size: 160px
      color: #E4E7ED
      top: 15px
      -webkit-transform: translateY(-50%) rotate(15deg)
      -ms-transform: translateY(-50%) rotate(15deg)
      transform: translateY(-50%) rotate(15deg)
      z-index: -1
      left: -90px

    .input
      width: calc(100% - 160px)
      margin-right: -4px
      border-radius: 40px 0 0 40px

    .newsletter-btn
      width: 160px
      height: 40px
      font-weight: 700
      background: $primary-color
      color: white
      border: none
      border-radius: 0px 40px 40px 0px

      &:hover
        background: $primary-color-dark

  .newsletter-follow
    text-align: center

    li
      display: inline-block
      margin-right: 5px

      a
        position: relative
        display: block
        color: black
        width: 40px
        height: 40px
        text-align: center
        line-height: 40px
        border: 1px solid #E4E7ED
        background-color: #FFF
        -webkit-transition: 0.4s all
        transition: 0.4s all

        &:hover
          color: $primary-color

.input
  height: 40px
  padding: 0 15px
  border: 1px solid #E4E7ED
  background-color: white
  width: 100%


