<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Suscríbase al <strong>BOLETÍN DE NOTICIAS</strong></p>
          <form>
            <input class="input" type="email" placeholder="Introduzca su correo electrónico">
            <button class="newsletter-btn"><fa-icon [icon]="faEnvelope"></fa-icon> Suscríbase a</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a>
            </li>
            <li>
              <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
            </li>
            <li>
              <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
            </li>
            <li>
              <a href="#"><fa-icon [icon]="faPinterest"></fa-icon></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
