@import "src/assets/sass/variables"

#footer
  background: #15161D
  color: #B9BABC

#bottom-footer
  background: #1E1F29

.footer
  margin: 30px 0

  .footer-title
    color: #FFF
    text-transform: uppercase
    font-size: 18px
    margin: 0px 0px 30px

.footer-links li
  + li
    margin-top: 15px

  a
    color: #B9BABC

  fa-icon
    margin-right: 15px
    color: $primary-color
    width: 14px
    text-align: center

  a:hover
    color: $primary-color

.copyright
  margin-top: 30px
  display: block
  font-size: 12px

.footer-payments li
  margin-top: 20px
  display: inline-block
  margin-right: 5px

  a
    color: #15161D
    font-size: 36px
    display: block
