<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="footer">
            <h3 class="footer-title">Sobre nosotros</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            <ul class="footer-links">
              <li><a href="#"><fa-icon [icon]="faMapMarkerAlt"></fa-icon>Dirección</a></li>
              <li><a href="#"><fa-icon [icon]="faPhone"></fa-icon>+527228905403</a></li>
              <li><a href="#"><fa-icon [icon]="faEnvelope"></fa-icon>email@email.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer">
            <h3 class="footer-title">Categorias</h3>
            <ul class="footer-links">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Clasificación</a></li>
              <li><a href="#">Escritura</a></li>
              <li><a href="#">Papel</a></li>
              <li><a href="#">Mapas</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer">
            <h3 class="footer-title">Información</h3>
            <ul class="footer-links">
              <li><a href="#">Conocenos</a></li>
              <li><a href="#">Contactanos</a></li>
              <li><a href="#">Politicas de Privacidad</a></li>
              <li><a href="#">Pedidos</a></li>
              <li><a href="#">Terminos y Condiciones</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer">
            <h3 class="footer-title">Servicios</h3>
            <ul class="footer-links">
              <li><a href="#">Mi Cuenta</a></li>
              <li><a href="#">Carrito</a></li>
              <li><a href="#">Deceos</a></li>
              <li><a href="#">Seguir pedido</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="bottom-footer" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><fa-icon [icon]="faCcVisa"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faCreditCard"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faCcPaypal"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faCcMastercard"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faCcDiscover"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faCcAmex"></fa-icon></a></li>
          </ul>
          <span class="copyright">
								Copyright &copy; {{ year }}  Todos los derechos reservados
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
