<ngx-spinner bdColor="rgba(0,0,0,0.9)"
             size="medium"
             color="#fff"
             type="timer"
             [fullScreen]="true">
  <p style="color: white" > Cargando... </p>
</ngx-spinner>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<app-navbar></app-navbar>
<div class="container-lg px-lg-5">
  <router-outlet></router-outlet>
</div>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
