<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-sm-6 col-md-4">
        <div class="shop">
          <div class="shop-img">
            <img src="assets/images/shop01.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Productos <br> Escolares</h3>
            <a href="#" class="cta-btn">Comprar Ahora <fa-icon [icon]="faArrowAltCircleRight"></fa-icon></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-sm-6 col-md-4">
        <div class="shop">
          <div class="shop-img">
            <img src="assets/images/shop03.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Productos de <br> Decoración</h3>
            <a href="#" class="cta-btn">Comprar Ahora <fa-icon [icon]="faArrowAltCircleRight"></fa-icon></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-sm-6 col-md-4">
        <div class="shop">
          <div class="shop-img">
            <img src="assets/images/shop02.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Productos de <br> Clasificación</h3>
            <a href="#" class="cta-btn">Comprar Ahora <fa-icon [icon]="faArrowAltCircleRight"></fa-icon></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
