<header class="bg-black text-white py-2">
  <div class="container-md">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-lg-6 bar-small">
        <a><fa-icon [icon]="faPhone"></fa-icon>+527228905403</a>
        <a><fa-icon [icon]="faEnvelope"></fa-icon>email@email.com</a>
        <a><fa-icon [icon]="faMapMarkerAlt"></fa-icon>Dirección</a>
      </div>
      <div class="col-12 col-lg-6 d-flex justify-content-lg-end bar-small">
        <a><fa-icon [icon]="faDollarSign"></fa-icon>MXN</a>
        <a><fa-icon [icon]="faUser"></fa-icon>Mi Cuenta</a>
      </div>
    </div>
  </div>
</header>
<header class="bg-dark py-3">
  <div class="container-md">
    <div class="row">
      <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start py-3 logo">
        <a routerLink="/"><img src="assets/images/logob.png" alt=""></a>
      </div>
      <div class="col-12 col-lg-6 py-3">
        <div class="input-group">
          <select name="" id="">
            <option hidden selected>Categorias</option>
            <option value="">Categoria 1</option>
            <option value="">Categoria 2</option>
            <option value="">Categoria 3</option>
          </select>
          <input name="search" type="text" required class="form-control" placeholder="Buscar aqui">
          <button type="button">Buscar</button>
        </div>
      </div>
      <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-end icons py-3">
        <div>
          <a><fa-icon [icon]="faHeart"></fa-icon><span>Tus Deseos</span><div class="qty">3</div></a>
        </div>
        <div><a><fa-icon [icon]="faShoppingCart"></fa-icon><span>Carrito</span><div class="qty">3</div></a></div>
        <div id="menu"><a (click)="open = !open"><fa-icon [icon]="faBars"></fa-icon><span>Menu</span></a></div>
      </div>
    </div>
  </div>
</header>
<nav id="navigation">
  <div class="container">
    <div id="responsive-nav" [class.active-menu]="open">
      <ul class="main-nav">
        <li routerLink="/" routerLinkActive="active"><a href="#" (click)="open = !open">Inicio</a></li>
        <li><a href="#" (click)="open = !open">Ofertas</a></li>
        <li><a href="#" (click)="open = !open">Clasificación</a></li>
        <li><a href="#" (click)="open = !open">Escritura</a></li>
        <li><a href="#" (click)="open = !open">Papel</a></li>
        <li><a href="#" (click)="open = !open">Mapas</a></li>
        <li><a href="#" (click)="open = !open">Biografias</a></li>
      </ul>
    </div>
  </div>
</nav>
