@import "src/assets/sass/variables"

.logo
  img
    height: 3.125rem

.bar-small
  a
    display: block
    font-size: 0.8rem
    margin-right: 1rem

    fa-icon
      color: $primary-color
      margin-right: 0.5rem


.input-group
  select
    padding: 0 1rem
    border: 0 solid transparent
    border-top-left-radius: 1rem
    border-bottom-left-radius: 1rem


  button
    border: 0 solid transparent
    color: aliceblue
    background-color: $primary-color
    border-top-right-radius: 1rem
    border-bottom-right-radius: 1rem
    padding: 0 1rem

    &:hover
      background-color: $primary-color-dark

.icons
  div
    a
      display: block
      position: relative
      width: 5.625rem
      text-align: center
      color: white

      fa-icon
        display: block
        font-size: 1.125rem

      .qty
        position: absolute
        right: 0.9375rem
        top: -0.625rem
        width: 1.25rem
        height: 1.25rem
        line-height: 1.25rem
        text-align: center
        border-radius: 50%
        font-size: 0.625rem
        color: white
        background-color: $primary-color
#menu
  display: block

  &:hover
    cursor: pointer

#navigation
  background-color: white
  border-bottom: 2px solid #E4E7ED
  border-top: 3px solid $primary-color


.active-menu
  -webkit-transform: translateX(0%) !important
  -ms-transform: translateX(0%) !important
  transform: translateX(0%) !important
  width: 100% !important


.main-nav
  margin: 100px 0 0 0
  float: none

  li
    display: block
    float: none
    margin: 20px

    &:before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 2px
      background: linear-gradient(to right, $primary-color, $primary-color-dark, $primary-color)
      z-index: 1
      transform: scaleX(0)
      transform-origin: left
      transition: transform 0.5s ease-in-out

    &:hover::before
      transform: scaleX(1)

    &:hover
      a
        color: $primary-color

    a
      color: white
      text-decoration: none
      font-size: 1.3em

      &:hover
        color: $primary-color
        background-color: transparent

.active
  border-bottom: 2.5px solid $primary-color !important


  a
    color: $primary-color !important
    background-color: transparent


li
  position: relative
  display: block

@media (min-width: $xs)
  .bar-small
    a
      display: inline-block

@media (min-width: $lg)
  #menu
    display: none

  .main-nav
    margin: 0

    li
      display: inline-flex !important
      margin: 0
      margin: 15px

      a
        color: black

@media (max-width: $lg)
  #responsive-nav
    position: fixed
    left: 0
    top: 0
    background: #15161D
    height: 100vh
    max-width: 250px
    width: 0%
    overflow: hidden
    z-index: 22
    -webkit-transform: translateX(-100%)
    -ms-transform: translateX(-100%)
    transform: translateX(-100%)
    -webkit-transition: 0.2s all
    transition: 0.2s all
