/* You can add global styles to this file, and also import other style files */
@import "assets/sass/variables"

*
  font-family: "Arial Narrow"

h1, h2, h3, h4, h5, h6
  color: #2B2D42
  font-weight: 700
  margin: 0 0 10px

ul, ol
  list-style: none

a
  color: black
  font-weight: 500
  -webkit-transition: 0.2s color
  transition: 0.2s color

.shop
  position: relative
  overflow: hidden
  margin: 15px 0

  &:before
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 60%
    background: $primary-color
    opacity: 0.9
    -webkit-transform: skewX(-45deg)
    -ms-transform: skewX(-45deg)
    transform: skewX(-45deg)

  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 1px
    width: 100%
    background: $primary-color
    opacity: 0.9
    -webkit-transform: skewX(-45deg) translateX(-100%)
    -ms-transform: skewX(-45deg) translateX(-100%)
    transform: skewX(-45deg) translateX(-100%)

  .shop-img
    position: relative
    background-color: #E4E7ED
    z-index: -1

    img
      width: 100%
      -webkit-transition: 0.2s all
      transition: 0.2s all

  &:hover
    .shop-img
      img
        -webkit-transform: scale(1.1)
        -ms-transform: scale(1.1)
        transform: scale(1.1)

  .shop-body
    position: absolute
    top: 0
    width: 75%
    padding: 30px
    z-index: 10

    h3
      color: white

    .cta-btn
      color: white
      text-transform: uppercase
